<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="../css/homepage.css">
  </head>
  <body>
    <h1>Upload your Document</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
